{% extends 'base.html' %}

{% block title %}Sources{% endblock %}

{% block content %}
<section class="page-intro">
    <p class="eyebrow">Explore Microbial Worlds</p>
    <h1 class="main-heading">Sources</h1>
</section>

<section class="card-grid" aria-label="Sources">
    <article class="card">
        <h2>Images</h2>
        <p>
            Pyrococcus furiosus: <a href="https://commons.wikimedia.org/wiki/User:Fulvio314">Creator</a> <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">License</a>
        </p>
        <p>
            Snottite: <a href="https://www.nasa.gov/nasa-brand-center/images-and-media/">Creator</a> <a href="https://commons.wikimedia.org/wiki/Template:PD-USGov">License</a>
        </p>
        <p>
             Geobacillus: <a href="https://apps.ars.usda.gov/nrrl/cgi-bin/usda/prokaryote/report.html?nrrlcodes=B-1172">Creator</a> <a href="https://commons.wikimedia.org/wiki/Template:PD-USGov">License</a>
        </p>
        <p>
            <i>Sulfolobus solfataricus</i>: <a href="https://www.inaturalist.org/people/rudeeric">Creator</a> <a href="https://creativecommons.org/licenses/by-nc/4.0/">License</a>
        </p>
        <h2>Articles</h2>
    </article>
</section>
{% endblock %}
